.titulo {
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(104, 114, 227),
        0 0 82px blue,
        0 0 92px magenta,
        0 0 102px magenta,
        0 0 151px rgb(100, 39, 100);
        font-size: 5rem !important;
}
