.navbari {
    color: rgba(248, 245, 245, 0.338);
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}

.navbar {
    color: rgba(248, 245, 245, 0.338);
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbari:hover {
    color: rgb(0, 255, 255);
}

.dropdown-menu {
    background-color: rgba(248, 245, 245, 0.338);
}

.link {
    color:  black;
}

.link:hover {
    color: rgb(0, 0, 0);
}

.dropdown-toggle {
    color: rgba(248, 245, 245, 0.338);
}

.dropdown-toggle:hover {
    color: rgb(0, 255, 255);
}

.navbar2 {
    
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

