* {
  box-sizing: border-box;
}

/* Boton Agregar Detail */
.add-button{
  margin-left: auto;
  color: #ffffff;
  background-color: #6ea7e0;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;  
}

.add-button:hover{
  color:white;
  background:#2f69cc;
}

/* Fin Boton Agregar Detail */

/* Cards Home */

.img-card {
  width: 225px;
  height: 225px;
}

.img--card {
  width: 320px;
  margin: 40px auto;
  padding: 3px;
  background: transparent !important;
  border: 1px solid #fff !important;
  border-radius: 20px !important;
  color: #fff;   
  box-shadow: 
  inset 0 0 5px #fff , 0 0 5px #fff,
  inset 0 0 20px #0ff , 0 0 20px #0ff;
}

/* fin Cards Home */

/* Cards Details */

.img--cardetail {
  width: 250px !important;
  height: 330px;
  margin: 40px 20px 40px 20px;
  padding: 3px;
  background: transparent !important;
  
}

/* FIn Cards Details */

.fondo {
  background-color: #b1caf5;
}

.card-title {
  color: black;
}

.card--title {
  background: transparent !important;
}

/* Botones Card Home */

.box-button {
  background: transparent;
  color: white;
  display: inline-block;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition:0.5s;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 
  inset 0 0 2px #fff , 0 0 2px #fff,
  inset 0 0 10px #0ff , 0 0 10px #0ff;
  }

  .box-button:hover {
    border: 2px solid white;
    border-radius: 20px;
    color: #FFF;
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 
  inset 0 0 5px #fff , 0 0 5px #fff,
  inset 0 0 15px magenta, 0 0 15px magenta;
  }

  /* Fin Botones Card Home */

  .link {
    text-decoration: none;
} 

.outer {
  position: relative;
  width: 85%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 
  inset 0 0 10px #fff , 0 0 10px #fff,
  inset 0 0 25px #0ff , 0 0 25px #0ff;
  margin-bottom: 160px;
}

@media (max-width: 605px){
  .img--card {
    width: auto;
  }
}

@media (min-width: 606px) and (max-width: 991px){
  .titulo {
    font-size: 3rem;
  }
  .img--card {
    width: auto;
  }
}